export DB_PASSWORD=pass68029595

export SENDGRID_API_KEY=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
export SENDGRID_USER=sglabsdev
export SENDGRID_PASS=sglabs123

export GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCyTtwTodIPtIod
Smqli78ffW+SMDwigrJIRtAs4chV54k9pU/lVPOLE1gLGXlFsZL9ZW4CGc56x2MW
s5bA5Nqocw7dR4CmzWxlO+tHPRO9ysKWYgHReslH3sv0GriqYc/IiDt404WtdZ5V
BmDfUu9lbzuex/veJYfdmJ4+BlPSfsNfq8jXNTH+yadN4j8LgQXh1LKfVlWQxjq4
ZBgrbbUsgLQSTQeJiescfMVRkw5swC8scnOAi/GKsHaqeurW0HRBlPwkSwBkpDnu
UKo6atsbOZoUlgt55iH2feed9lUSEbyz8CxroKSg3Ot9KkaEfqoe/E9SphcLMZfK
7QGKYOgVAgMBAAECggEAAraW/Dh95w3G/T+c5FR+Tccdm8Keo6LL/jQPpmMwJnh9
uuGpV9LFWvQqJo8WbJRRaYgx1pfYb79Zd2a3sEs7NY18qCrWnxMop1i0UZLxGjX7
5IhswSiGaBDQlzAR58vRutox13qWged0h5QvhK5xJKC+7kFaSIzXJqzUGZsEiwMq
wRTdIEEPcVuahR49kKLXieoCJ/GlIHY0JDL5dwX0yzeSlOUppUYBtLO+fBvIiMYf
tQHriigNUk9PxzTGDj0J2i5sjy16wonjXwgbUh6GR7LDc6kaep6eYUnbCaBMvqXg
YYRYgG7chFX9tiX+ZYOlv9i99W7GVxzL+qpgeGvUYQKBgQDuFrz/P4OUomK2tg1n
gtSAjeiss84gIwXzC/F1bZpnopUxRKd584ag574bOa0ACvjnG/h2CNskv7k8yxZ0
yVjpDmaQEQasp1fQHZ/GQ7JFEHMwTwsHuj0zDjUheKYGMU6lJfQWjmsyh295q8AC
MoLqc0W67Ct/uxnyOhHLvLRuYQKBgQC/uNOF/ASbxw0wMwHpNs8AvNaiZQFKpMs6
SSMUNMPBRMWiYuwzbzYPC7+1Gvl3CgIzTTgRmWyFl6ePesAaJhYqLD5XIKt5iOR4
d8/s9GLfRkFmpYE5V8waHzkYbLg+NJwQtxBL1EJbpq2Lc+vkT2ewp6waziDNYN8V
b2SkLLTONQKBgQDhgwITFprQHxs3CqsZn08eUMvRQSH9SI8rDeXwHxeAD/wWRXwI
Q8UCBV8ItJGLl9j4NoMZcfv4C+0tiwNDLS+c1/oHfUkAIiVHx7d9eMOTLSid2lCN
SjcLc+qZQIipFuzx+kf/UXhxzNymtypQKn3cCcFDcs0k2BiUWbJfcubIIQKBgDtM
QTAZqJs9z5huzlKBfzjtLz1/HA0oNytJ362qPDmUucPl8MRfy0qQCbVMKIhm8hNH
+OWInIYdR9ga0TvFN+nHUWjFVAP9ER0pgYf6dnI0WpoS6or/2sLhkVk6lym2P+bz
l/i8J+INBXQyYG13Gc0LrzGDO6YKJjWNBIW6xhlZAoGAaGVMhtLN2TBJXZcdaVJ/
WfWWVwQubdfuMmnQHttDbnZZFwB2MS5Do4celNRp73TwOHnvoFX+vbsvyRDWZW5M
3xA4oHOxVx9pK/9onGDhQo6clzrrSYBy+sAoEgnr/MWZl0hPTS+K1bOotV0k4bHZ
N4MqfObvaWcB/38dnqc9BNc=
-----END PRIVATE KEY-----"
export GOOGLE_CLIENT_EMAIL=sglabs@sglabs-181921.iam.gserviceaccount.com

export CONTAINER_NAME=sglabs-dev
export PROJECT_ID=sglabs-181921