<h1>Editar Ejercicio #<%= excercise.id %></h1>

<%- include('_form') %>

<form action="<%= deleteExcercisePath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
        <input type="submit" name="delete" value="Eliminar" />
    </div>
</form>

<a href="<%= backToListPath %>">Volver</a>
