<h1>Nuevo Ejercicio</h1>

<form method="POST" action="<%= createExcercisePath %>">
    <label for="content">Contenido</label>
    <textarea name="content" id="content"></textarea>
    <button type="submit">Crear</button>
</form>

<a href="<%= backToList %>">Volver</a>