<form action="<%= createSessionPath %>" method="post">
  <div>
    <label for="username">Nombre de Usuario o Email</label>
    <input type="text" name="username" defaultValue={username} id="username">
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">
  </div>
  <button type="submit">Sign In</button>

</form>