<form method="POST" action="<%= submitFilePath %>">
  <%if (!file.isNewRecord) { %>
    <input type="hidden" name="_method" value="patch" />
  <% }%>
  <input type="hidden" name=userId value="<%= currentUser.id %>" />
  <div>
    <label for="path">Ruta</label>
    <textarea name="path" id="path"><%= file.path %></textarea>
  </div>
  <div>
    <button type="submit">
      <%if (file.isNewRecord) { %>
        Crear
      <% } else { %>
        Actualizar
      <% } %>
    </button>
  </div>
</form>
