<h1>Hello world</h1>
<p>
  App web version
  <%= appVersion %>
</p>

<p>
  Features:
  <ul>
    <li>
      <a href="/users">Usuarios</a>
    </li>
    <li>
      <a href="/questions">Preguntas</a>
    </li>
    <li>
      <a href="/excercises">Ejercicios</a>
    </li>
  </ul>
</p>
