<h1>¡Bienvenido <%= user.username %>!</h1>
<hr>
<p>Esperamos puedas resolver todas tus dudas y estudiar para el exámen de competencias fundamentales.</p>
<p>También, aprovecha y ayuda al resto de tus compañeros, ¡Juntos todos pueden! </p>

<p>Mucho éxito en tu estudio</p>
<strong>SGLabs Team</strong>