body{
  // background: white;
  background-image: url("https://s3.envato.com/files/145047564/minimalist%20polygonal%20background011.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

.error {
  padding: 15px;
  margin: 15px 0;
/*    position: fixed;*/
  align-self: center;
  background: #F8B6B6;
  color: #C90101;
  border-radius: 15px;
  border: 1.5px solid #C90101;
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  transition: all .2s ease-out;
  * {
    margin: 15px;
  }
}
#close{
  color: black;
  text-align: right;
  cursor: pointer;
}
/**
Navigation Bar
**/

$navbar_height: 70px;

.nav{
  height: $navbar_height;
  width: 100%;
  background: rgba(115, 160, 239, 0.80);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 5px 5px #888888
}

.nav-section{
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  form, div{
    display: flex;
  }
}
a, button{
  &.nav-link{
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    align-self: center;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Allerta';
    &:hover{
      color: rgb(202, 210, 201);
    }
    &.active{
      color: black;
    }
    &.active:hover{
      color: #626060;
    }
  }
}
p {
  &.nav-text{
    margin: auto;
    font-size: 18px;
    font-weight: 800;
  }
}

/**
Footer
**/

.footer{
  width: 100%;
}

/**
Containers
**/

.wrapper{
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  margin: 0 5%;
  margin-top: $navbar_height + 40px;
  padding: 0 2%;
  background: rgba(255, 255, 255, 0.70);
}
.row{
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.col-fill{
  flex: 1 0 auto;
}
.col{
  flex: 0 1 auto;
}

.panel{
  background: #f5f5f5;
  border: 0.5px solid #984242;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
}

.landing.section {
  a {
    font-size: 20px;
    text-decoration: none;
  }
  p {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
  }
  div a {
    padding-right: 10px;
    font-size: inherit;
  }
}

/**
Tables
**/

table{
  &.table{
    width: 100%;
    border-collapse: collapse;
    thead{
      tr{
        th{
          border-bottom: 1px groove #635E5E;
        }
      }
    }
    tbody{
      tr{
        td{
          text-align: center;
        }
      }
    }
  }
  &.hover{
    tbody{
      tr:hover{
        background: #d8d5d5;
      }
    }
  }
  &.striped{
    tbody{
      tr:nth-child(even){
        background: #C7C7C7
      }
      tr:nth-child(odd){

      }
    }
  }
}


/**
Lists
**/

ul{
  &.unstyled{
    list-style: none;
    padding: 0;
    &.in-line {
      li {
        margin-right: 6px;
        padding: 2px 2px;
      }
    }
  }
  &.tags {
    font-size:13px;
    li {
      background: rgba(115, 160, 239, 0.40);
    }
  }
}

/**
Dropdown filter
Taken from https://www.w3schools.com/howto/howto_js_filter_lists.asp
**/

.dropdown {
  position: relative;
  display: inline-block;
}

#tagFilterInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 10px 10px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
}

#tagFilterUL {
  /* Remove default list styling */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown:hover #tagFilterUL {
    display: block;
}

#tagFilterUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#tagFilterUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/**
Varios
**/

.hideable {
  transition: all .5s ease-out;
}

.hidden{
  opacity: 0;
}

.end{
  align-self: flex-end;
}

.in-line{
  display: flex;
  flex-flow: row nowrap;
}
