<form action="<%= reportCreatePath %>" method="post">
  <input type="hidden" name="returnPath" value="<%= returnPath %>" />
  <input type="hidden" name="resource" value="<%= resource %>" />
  <input type="hidden" name="resourceId" value="<%= resourceId %>" />
  <button class="delete-button" type="submit">Reportar</button>
</form>
