<h1>Editar usuario</h1>
<div>
  <%- include('_form') %>
  <br />
  <form action="<%= deleteUserPath %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <div>
      <input type="submit" name="delete" value="Eliminar" />
    </div>
  </form>
</div>
