<h1>Registered users:</h1>

DEV: this should only be seen by admins

<ul>
  <% users.forEach((user) => { %>
    <li>
      <%= user.id + ' ' %>
      <%= user.username + ' ' %>
      <%= user.password + ' ' %>
      <%= user.email + ' ' %>
    </li>
  <% }) %>
</ul>
