<%
let enctype = '';
if (guide.isNewRecord) {
  enctype = 'enctype=multipart/form-data';
}
%>
<form method="POST" action="<%= submitGuidePath %>" <%= enctype %>>
  <input type="hidden" name=userId value="<%= currentUser.id %>" />
  <div>
    <label for="title">Titulo</label>
    <textarea name="title" id="title"><%= guide.title %></textarea>
  </div>
  <%if (!guide.isNewRecord) { %>
    <input type="hidden" name="_method" value="patch" />
  <% } else { %>
    <div>
      <label for="file">Archivo</label>
      <input type="file" name="file" id="file">
    </div>
  <% } %>
  <div>
    <button type="submit">
      <%if (guide.isNewRecord) { %>
        Crear
      <% } else { %>
        Actualizar
      <% } %>
    </button>
  </div>
</form>
